.DS_Store
/.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/tkbeads.iml
/.idea/vcs.xml
